.ui-tabs-vertical { width: 100%; }
.ui-tabs-vertical ul { background-color:white!Important; border:0px!Important }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 20em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding-left: 22em!Important; }

h4 
{
    margin: 5px;
}

th a {
    color: white!Important;
}

.dynatable-active-page {
    background: #005d99!important;
  
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #003eff;
    background: #005d99!important;
    font-weight: normal;
    color: #ffffff;
}

#holder {
  display: none;
}

table
{
  border-radius: 5px;
  font-size: 15px;
    overflow: hidden;
  border: 1px solid #ddd;
    border-collapse: separate;
    border-left: 0;
  width: 100%;
    margin-bottom: 20px;
  max-width: 100%;
    background-color: transparent;
   
    border-spacing: 0;
}

thead th
{
      vertical-align: bottom;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background-color: #005d99!important;
    color: white;
  
}

th
{
  padding: 8px;
    line-height: 20px;
    text-align: left;
}

td
{
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  color: #3598b6!important;
    font-size: 13px;
  border-left: 1px solid #ddd;
  padding: 8px;
    line-height: 20px;
   
    vertical-align: top;
    border-top: 1px solid #ddd;
}


.layout
{
  width: 98%;
    margin-left:5px;
    padding-left: 10px;
  padding-right: 5px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: 2px solid;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #000;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
